* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #014E56;
}
.container{
    width: 1440px;
    margin: 0 auto;
}

li,a {
    text-decoration: none;
    list-style: none;
}